In [1]:
import pandas as pd

In [2]:
data = {
    'Feature name': ['Encounter ID', 'Patient number', 'Race', 'Gender', 'Age', 'Weight', 'Admission type', 'Discharge disposition',
                     'Admission source', 'Time in hospital', 'Payer code', 'Medical specialty', 'Number of lab procedures',
                     'Number of procedures', 'Number of medications', 'Number of outpatient visits', 'Number of emergency visits',
                     'Number of inpatient visits', 'Diagnosis 1', 'Diagnosis 2', 'Diagnosis 3', 'Number of diagnoses',
                     'Glucose serum test result', 'A1c test result', 'Change of medications', 'Diabetes medications',
                     '24 features for medications', 'Readmitted'],
    'Type': ['Numeric', 'Numeric', 'Nominal', 'Nominal', 'Nominal', 'Numeric', 'Nominal', 'Nominal', 'Nominal', 'Numeric',
             'Nominal', 'Nominal', 'Numeric', 'Numeric', 'Numeric', 'Numeric', 'Numeric', 'Numeric', 'Nominal', 'Nominal',
             'Nominal', 'Numeric', 'Nominal', 'Nominal', 'Nominal', 'Nominal', 'Nominal', 'Nominal'],
    'Description and values': ['Unique identifier of an encounter', 'Unique identifier of a patient',
                               'Values: Caucasian, Asian, African American, Hispanic, and other',
                               'Values: male, female, and unknown/invalid',
                               'Grouped in 10-year intervals: [0, 10), [10, 20), ..., [90, 100)', 'Weight in pounds.',
                               'Integer identifier corresponding to 9 distinct values',
                               'Integer identifier corresponding to 29 distinct values',
                               'Integer identifier corresponding to 21 distinct values',
                               'Integer number of days between admission and discharge',
                               'Integer identifier corresponding to 23 distinct values',
                               'Integer identifier of a specialty of the admitting physician',
                               'Number of lab tests performed during the encounter',
                               'Number of procedures (other than lab tests) performed during the encounter',
                               'Number of distinct generic names administered during the encounter',
                               'Number of outpatient visits of the patient in the year preceding the encounter',
                               'Number of emergency visits of the patient in the year preceding the encounter',
                               'Number of inpatient visits of the patient in the year preceding the encounter',
                               'The primary diagnosis (coded as first three digits of ICD9)',
                               'Secondary diagnosis (coded as first three digits of ICD9)',
                               'Additional secondary diagnosis (coded as first three digits of ICD9)',
                               'Number of diagnoses entered to the system',
                               'Indicates the range of the result or if the test was not taken',
                               'Indicates the range of the result or if the test was not taken',
                               'Indicates if there was a change in diabetic medications (either dosage or generic name)',
                               'Indicates if there was any diabetic medication prescribed',
                               'For the generic names and dosage changes, indicates whether the drug was prescribed or there was a change in the dosage',
                               'Days to inpatient readmission']
}

df = pd.DataFrame(data)
print(df)

                   Feature name     Type  \
0                  Encounter ID  Numeric
1                Patient number  Numeric
2                          Race  Nominal
3                        Gender  Nominal
4                           Age  Nominal
5                        Weight  Numeric
6                Admission type  Nominal
7         Discharge disposition  Nominal
8              Admission source  Nominal
9              Time in hospital  Numeric
10                   Payer code  Nominal
11            Medical specialty  Nominal
12     Number of lab procedures  Numeric
13         Number of procedures  Numeric
14        Number of medications  Numeric
15  Number of outpatient visits  Numeric
16   Number of emergency visits  Numeric
17   Number of inpatient visits  Numeric
18                  Diagnosis 1  Nominal
19                  Diagnosis 2  Nominal
20                  Diagnosis 3  Nominal
21          Number of diagnoses  Numeric
22    Glucose serum test result  Nominal
23              A1c test result  Nominal
24        Change of medications  Nominal
25         Diabetes medications  Nominal
26  24 features for medications  Nominal
27                   Readmitted  Nominal

                               Description and values
0                   Unique identifier of an encounter
1                      Unique identifier of a patient
2   Values: Caucasian, Asian, African American, Hi...
3           Values: male, female, and unknown/invalid
4   Grouped in 10-year intervals: [0, 10), [10, 20...
5                                   Weight in pounds.
6   Integer identifier corresponding to 9 distinct...
7   Integer identifier corresponding to 29 distinc...
8   Integer identifier corresponding to 21 distinc...
9   Integer number of days between admission and d...
10  Integer identifier corresponding to 23 distinc...
11  Integer identifier of a specialty of the admit...
12  Number of lab tests performed during the encou...
13  Number of procedures (other than lab tests) pe...
14  Number of distinct generic names administered ...
15  Number of outpatient visits of the patient in ...
16  Number of emergency visits of the patient in t...
17  Number of inpatient visits of the patient in t...
18  The primary diagnosis (coded as first three di...
19  Secondary diagnosis (coded as first three digi...
20  Additional secondary diagnosis (coded as first...
21          Number of diagnoses entered to the system
22  Indicates the range of the result or if the te...
23  Indicates the range of the result or if the te...
24  Indicates if there was a change in diabetic me...
25  Indicates if there was any diabetic medication...
26  For the generic names and dosage changes, indi...
27                      Days to inpatient readmission

In [7]:
df.loc[3,'Description and values']

'Values: male, female, and unknown/invalid'

In [16]:
df['Description and values'].apply(lambda x:x.strip( "\t"))

0                     Unique identifier of an encounter
1                        Unique identifier of a patient
2     Values: Caucasian, Asian, African American, Hi...
3             Values: male, female, and unknown/invalid
4     Grouped in 10-year intervals: [0, 10), [10, 20...
5                                     Weight in pounds.
6     Integer identifier corresponding to 9 distinct...
7     Integer identifier corresponding to 29 distinc...
8     Integer identifier corresponding to 21 distinc...
9     Integer number of days between admission and d...
10    Integer identifier corresponding to 23 distinc...
11    Integer identifier of a specialty of the admit...
12    Number of lab tests performed during the encou...
13    Number of procedures (other than lab tests) pe...
14    Number of distinct generic names administered ...
15    Number of outpatient visits of the patient in ...
16    Number of emergency visits of the patient in t...
17    Number of inpatient visits of the patient in t...
18    The primary diagnosis (coded as first three di...
19    Secondary diagnosis (coded as first three digi...
20    Additional secondary diagnosis (coded as first...
21            Number of diagnoses entered to the system
22    Indicates the range of the result or if the te...
23    Indicates the range of the result or if the te...
24    Indicates if there was a change in diabetic me...
25    Indicates if there was any diabetic medication...
26    For the generic names and dosage changes, indi...
27                        Days to inpatient readmission
Name: Description and values, dtype: object

In [23]:
df['Description and values'].loc[[0]].values

array(['Unique identifier of an encounter'], dtype=object)

In [24]:
df

,Feature name,Type,Description and values
0,Encounter ID,Numeric,Unique identifier of an encounter
1,Patient number,Numeric,Unique identifier of a patient
2,Race,Nominal,"Values: Caucasian, Asian, African American, Hi..."
3,Gender,Nominal,"Values: male, female, and unknown/invalid"
4,Age,Nominal,"Grouped in 10-year intervals: [0, 10), [10, 20..."
5,Weight,Numeric,Weight in pounds.
6,Admission type,Nominal,Integer identifier corresponding to 9 distinct...
7,Discharge disposition,Nominal,Integer identifier corresponding to 29 distinc...
8,Admission source,Nominal,Integer identifier corresponding to 21 distinc...
9,Time in hospital,Numeric,Integer number of days between admission and d...
10,Payer code,Nominal,Integer identifier corresponding to 23 distinc...
11,Medical specialty,Nominal,Integer identifier of a specialty of the admit...
12,Number of lab procedures,Numeric,Number of lab tests performed during the encou...
13,Number of procedures,Numeric,Number of procedures (other than lab tests) pe...
14,Number of medications,Numeric,Number of distinct generic names administered ...
15,Number of outpatient visits,Numeric,Number of outpatient visits of the patient in ...
16,Number of emergency visits,Numeric,Number of emergency visits of the patient in t...
17,Number of inpatient visits,Numeric,Number of inpatient visits of the patient in t...
18,Diagnosis 1,Nominal,The primary diagnosis (coded as first three di...
19,Diagnosis 2,Nominal,Secondary diagnosis (coded as first three digi...
20,Diagnosis 3,Nominal,Additional secondary diagnosis (coded as first...
21,Number of diagnoses,Numeric,Number of diagnoses entered to the system
22,Glucose serum test result,Nominal,Indicates the range of the result or if the te...
23,A1c test result,Nominal,Indicates the range of the result or if the te...
24,Change of medications,Nominal,Indicates if there was a change in diabetic me...
25,Diabetes medications,Nominal,Indicates if there was any diabetic medication...
26,24 features for medications,Nominal,"For the generic names and dosage changes, indi..."
27,Readmitted,Nominal,Days to inpatient readmission

In [25]:
df.to_csv('description.csv')

In [29]:
df=pd.read_csv('diabetic_data.csv')

In [30]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [31]:
df.select_dtypes(int,float)

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
0,2278392,8222157,6,25,1,1,41,0,1,0,0,0,1
1,149190,55629189,1,1,7,3,59,0,18,0,0,0,9
2,64410,86047875,1,1,7,2,11,5,13,2,0,1,6
3,500364,82442376,1,1,7,2,44,1,16,0,0,0,7
4,16680,42519267,1,1,7,1,51,0,8,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,1,3,7,3,51,0,16,0,0,0,9
101762,443847782,74694222,1,4,5,5,33,3,18,0,0,1,9
101763,443854148,41088789,1,1,7,1,53,0,9,1,0,0,13
101764,443857166,31693671,2,3,7,10,45,2,21,0,0,1,9
101765,443867222,175429310,1,1,7,6,13,3,3,0,0,0,9